.one-page
  .one-page-inner
    .container.one-form-content
      .row
        .col-sm-12
          .center-block{style: 'width: 300px; margin-top: 5%;'}
            %h2.green Log in
            = form_for resource, as: resource_name, url: session_path(resource_name) do |f|
              = render 'devise/shared/notices'
              .input-group.margin-bottom-20
                %span.input-group-addon
                  %i.fa.fa-envelope
                = f.email_field :email, autofocus: true, class: 'form-control', placeholder: 'Email'
              .input-group.margin-bottom-20
                %span.input-group-addon
                  %i.fa.fa-lock
                = f.password_field :password, class: 'form-control', placeholder: 'Password'
              .row
                .col-md-10.col-md-offset-1
                  = f.submit 'Log in', class: 'btn-u btn-block'
                  = render "devise/shared/links"
